<!DOCTYPE html>
<html>
<head>
    <title>Language Detector</title>
    <link rel="stylesheet" href="static\styles.css">
    <script defer src="static\index.js"></script> 
</head>
<body>
    <!-- Project Title and Description -->
    <section class="project-intro">
        <h1>SpeakSeek</h1>
        <h6>Ethan Huynh, Carleton University</h6>
        <p>A modern language detection tool built using advanced machine learning techniques.</p>
    </section>

    <!-- Language Detector Tool -->
    <section class="container">
        <h2>Try the Language Detector</h2>
        <h5>Try typing in any of these languages: English, French, Spanish or Portugese</h5>
        <form id="userInput" action="/predict" method="post">
            <div id="presetSelectContainer">
                <label for="presetSelect">Not sure what to put, choose a random quote: </label>
                <select id="presetSelect">
                    <option value="" disabled selected>Select Language</option>
                    <option value="en">English</option>
                    <option value="fr">French</option>
                    <option value="es">Spanish</option>
                    <option value="pt">Portuguese</option>
                </select>
            </div>
            <div id="textAreaContainer">
                <textarea id="textArea" name="text" rows="5" cols="50" placeholder="Enter text here..."></textarea>
            </div>
            <input id="submitButton" type="submit" value="Predict Language" disabled>
        </form>
        
        {% if prediction %}
        <h3>Predicted Language: {{ prediction }}</h3>
        {% endif %}
    </section>

    <!-- Project Details -->
    <section class="project-details">
        <h2>About This Project</h2>
        <p>This project utilizes the multinomial-naive-bayes algorithm to detect the language of a given text. This is an updated version of a project for the CAIS 2023 Hackathon.</p>
        <h3>Technologies Used</h3>
        <ul>
            <li>Python</li>
            <li>Scikit-learn</li>
            <li>Pandas</li>
            <li>Flask</li>
            <!-- Add more technologies if required -->
        </ul>
    </section>

    <!-- Links and Contacts -->
    <footer>
        <h2>Contact & Links</h2>
        <ul>
            <li><a href="https://github.com/eggrollius/SpeakSeek" target="_blank">Project Repository</a></li>
            <li><a href="https://github.com/eggrollius/" target="_blank">GitHub</a></li>
            <li><a href="https://linkedin.com/in/ethanthuynh" target="_blank">LinkedIn</a></li>
            <li><a href="\static\resume.pdf" target="_blank" disabled>Resume</a></li>
        </ul>
    </footer>

</body>
</html>
